.slider{
    background-image: url(../images/header-bg.jpg);
    background-size: 100% 100%;
    background-position: center center;
    height: 650px;
}

#options{
    
    position: fixed;
    top: 100px;
    left: 0px;
    z-index: 55555;
    
}

#color{
    background-color: orange;
    float: left;
    border: 2px solid;
     padding: 10px;
    
    
}

#options ul li{
    width: 30px;
    height: 30px;
    background-color: red;
    display: inline-block;
    cursor: pointer;
   
    
}

#options i{
    float: left;
    color: blue;
    cursor: pointer;
}








.navbar-brand-mine{
    color:#FFFC17;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;

}
.navbar-brand-mine:hover{
    color: #FFFC17; 
}
.nav-link-mine{
    text-transform: uppercase;
    color: white;
    padding-right:5px;
}
.nav-item :hover.nav-link-mine{
    color:#FFFC17; 
}

.txt-header{
    color: white;
    line-height:65px;
    align-items: center;
    
}

.txt-header .p1{
    
    font-size:55px;
    font-family: serif;
}
.txt-header .p2{
    font-size: 100px;
    
}

.txt-header .btn-mine{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0px 45px;
}
.txt-header:hover .btn-mine{
    opacity: .9;
}

.cont1{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    bottom: 100%;
    width: 90%;
    height: 90%;
    background-color:#306EFF;
    transition: bottom 1s;
    opacity: .5;
    
}
.overlay-1{
    position: absolute;
    bottom: 15%;
    width: 90%;
    height: 20%;
    background-color: white;
    transition: bottom 1s;
    

    
   
}

.cont1:hover .overlay{
    bottom: 8%;
}
.cont1:hover .overlay-1{
    bottom: -100%;
}
.overlay-1  .p1{
    font-size: 18px;
    font-family: monospace;
}
.overlay-1 .p2{
    color: 	#FFA500;
    text-transform: uppercase;
}
.overlay .a1{
    color:	#FFA500;
    text-decoration: none;
}
.overlay .p1{
    color: white;
}
.container-mine{
    background-color:#FFFFFF;
    margin-top: 12%;
}
.txt-section1 .pp{
    margin-top: 3%;
}
.roe-mine{
    margin-top: 10%;
}

.txt-section2{
    margin-top: 12%;
    
}


.layerf1{
    position: relative;
}
.overlay-2{
    position: absolute;
    background-color: #0000FF;
    width: 100%;
    height: 100%;
    z-index: 55; 
}



.layerf1 .overlay-2  p{
    color: white;
    font-size: 20px;
    font-weight: bold;
   
}

.layerf1:hover .overlay-2{
    opacity: .1;
    
}


.overlay-3{
    position: absolute;
    background-color:#3BB9FF;
    width: 100%;
    height: 100%;
    z-index: 55;
   
    
}

.layerf1 .overlay-3  p{
    color: white;
    font-size: 20px;
    font-weight: bold;
   
}

.layerf1:hover .overlay-3{
    opacity: .1;
    
}

.overlay-4{
    position: absolute;
    background-color:#6CC417;
    width: 100%;
    height: 100%;
    z-index: 55;
   
    
}

.layerf1 .overlay-4  p{
    color: white;
    font-size: 20px;
    font-weight: bold;
   
}

.layerf1:hover .overlay-4{
    opacity: .1;
    
}


.overlay-5{
    position: absolute;
    background-color:#54C571;
    width: 100%;
    height: 100%;
    z-index: 55;
   
    
}

.layerf1 .overlay-5  p{
    color: white;
    font-size: 20px;
    font-weight: bold;
   
}

.layerf1:hover .overlay-5{
    opacity: .1;
    
}

.overlay-6{
    position: absolute;
    background-color:#FDD017;
    width: 100%;
    height: 100%;
    z-index: 55;
   
    
}

.layerf1 .overlay-6  p{
    color: white;
    font-size: 20px;
    font-weight: bold;
   
}
.layerf1:hover .overlay-6{
    opacity: .1;
    
}

.container-mine-mine{
    margin-top: 12%;
    background-color:#E0FFFF;
}



.overlay-7{
    position: absolute;
    background-color:	#F660AB;
    width: 100%;
    height: 100%;
    z-index: 55;
   
    
}

.layerf1 .overlay-7 p{
    color: white;
    font-size: 20px;
    font-weight: bold;
   
}


.layerf1:hover .overlay-7{
    opacity: .1;
    
}



.overlay-8{
    position: absolute;
    background-color:	#F62217;
    width: 100%;
    height: 100%;
    z-index: 55;
   
    
}

.layerf1 .overlay-8 p{
    color: white;
    font-size: 20px;
    font-weight: bold;
   
}


.layerf1:hover .overlay-8{
    opacity: .1;
    
}

.overlay-9{
    position: absolute;
    background-color:#7D2252;
    width: 100%;
    height: 100%;
    z-index: 55;
   
    
}

.layerf1 .overlay-9 p{
    color: white;
    font-size: 20px;
    font-weight: bold;
   
}


.layerf1:hover .overlay-9{
    opacity: .1;
    
}







.btn-mine2 {
    position: relative;
    overflow: hidden;
}

.overlay-10{
    position:  absolute;
    width: 100%;
    height: 100%;
    background-color: orange;
    display: none;
}

.btn-mine2:hover .overlay-10{
    display: block;
    opacity: .4;
    z-index: 6666666;
}


.modal-title-mine{
    text-transform: uppercase;
    margin-bottom: 5px;
}

.container-mine-mine-mine{
    margin-top: 12%;
}



.footer-photo{
    background-image: url(../images/mapmap.jfif);
    background-size:100% 100%;
    background-position: center center;
    height: 600px;
}
.txt-foot{
    margin-bottom: 11%;
}

.btn-footer{
    color: white;
    width: 20%;
    margin-top: 2%;
}
.btn-footer:hover{
    background-color:#FDD017;
    color: white;
}

.f-h{
    font-size: 45px;
    color: white;
}
.f-p{
    color: white;
}
.ffff{
    font-size: 18px;
}


 .nav-link-nine{
    color: black !important;
    font-size: 25px;
    font-family: serif;
    font-weight: bold;
}
.nav-link-nine:hover {
/*    transform: scale(1.1);*/
    color: firebrick;
}
